
.bar{
    background-color: purple;
}

.rightSide{
    text-align:right;
}

.topButton{
    color: white;
    padding: 0;
    border: none;
    background: none;
    margin : 10px;
}

.topButton:hover{
    text-decoration : underline;
}

.welcomeTxt{
    color: white;
}
